body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(52, 152, 219);
}

#main {
  position: relative;
  display: table;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#logo {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

input {
  display: table-cell;
  vertical-align: bottom;
  border: none;
  color: #fff;
  width: 25%;
  align-self: flex-end;
  background: #000080;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
  padding: 20px;
  font-size: 20px;
  margin-right: 20px;
}
