<!DOCTYPE html>
<html>
  <head>
    <title>Info received</title>
    <link rel="stylesheet" href="/static/home.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">

      </div>
      <div id="main">
        <img id="logo" src="https://lh3.googleusercontent.com/Yet_yVOmFXIHlxwI6YfLriFc9IiJZ6r35oD6_Hc7ueVSKx6QZ8r5JPB6glbO0BDph4E=s180-rw">

        <form action="{{ url_for('leavingform') }}">
          <input type="submit" value="Predecir calidad" />
        </form>

      </div>
    </div>
  </body>
</html>
