<!DOCTYPE html>
<html>
  <head>
    <title>Info received</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div id="container">


      <div id="main" class="mydivt">

          <h1 class="insideTitle">La presencia de ozono predicha es: {{result}}</h1>

          <h4>Parámetros de Entrada</h4>
          <h4 class="insideTitle">Hora: {{hour}}, Nitrogeno: {{nitro}}, Carbono: {{carbon}}, pm10M: {{pm10M}}, Zona: {{zone}}, Mes: {{month}}</h4>


      </div>
    </div>
  </body>
</html>
